
<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<h2>Select which group you want to View, Update or Delete</h2>


<form method="post" action="/" id="postForm">
  <input type="button" value="View Students" id='viewStudents'/>
  <input type="button" value="View Staff" id='viewStaff'/>
  <input type="button" value="View Pets" id='viewPets'/>
  <input type="button" value="View Classes" id='viewClasses'/>
</form>

<br>

<div id='students-add-template'></div>
<div id='students-handlebars-insert'></div>
<div id='students-edit-template'></div>


<div id='staff-add-template'></div>
<div id='staff-handlebars-insert'></div>
<div id='staff-edit-template'></div>


<div id='pets-add-template'></div>
<div id='pets-handlebars-insert'></div>
<div id='pets-edit-template'></div>

<div id='classes-template'></div>
<div id='classes-handlebars-insert'></div>
<div id='classes-edit-template'></div>